
.quiz{
  font-size:10px;
  font-family: Poppins,sans-serif;
}


* {box-sizing: border-box}
body {font-family: Poppins-Regular,sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;

}

/* Slides */
.mySlides {
  display: none;
  padding: 10px;
  text-align: left;
  font-size: 16px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 105%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #010102;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: -webkit-linear-gradient(left, #ff7b08, #ffb00c, #ff8911, #ff7b08);
  background: -o-linear-gradient(left, #ff7b08, #ffb00c, #ff8911, #ff7b08);
  background: -moz-linear-gradient(left, #ffb00c, #ffb00c, #ff8911, #ff7b08);
  background: linear-gradient(left, #ffb00c, #ffb00c, #ff8911, #ff7b08);
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}


/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 158, 18, 0.8);
  color: white;

}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
